﻿@model CollaborativeComics.Models.Panel

@{
    ViewData["Title"] = "Создание картинки";
}

<h2>Создать картинку</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <input name="comicsId" value=@ViewData["comicsId"] type="hidden" />

            <div class="form-group">
                <input type="file" name="image"  />
            </div>

            <div class="form-group">
                <input name="description" class="form-control" />
            </div>


            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Comics" asp-action="Details" asp-route-id=@ViewData["comicsId"]>Назад к комиксу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
