﻿@model CollaborativeComics.Models.Panel

@{
    ViewData["Title"] = "Удаление картинки";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить картинку?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Картинка
        </dt>
        <dd>
            <img src=@Model.ImageURI width="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-controller="Comics" asp-action="Details" asp-route-id=@Model?.Comics?.Id>Назад к комиксу</a>
    </form>
</div>
