﻿@model CollaborativeComics.Models.Panel

@{
    ViewData["Title"] = "Картинка";
}

<h2>Просмотр картинки</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            Картинка
        </dt>
        <dd>
            <img src=@Model.ImageURI width:auto/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"></a> |
    <a asp-controller="Comics" asp-action="Details" asp-route-id=@Model?.Comics?.Id>Назад к комиксу</a>
</div>
