﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img width:auto src="~/images/stories.png" alt="Истории" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:white; text-shadow: black 0 0 5px;">
                    Выбирайте истории или предлагайте новые
                    <a class="btn btn-default" asp-controller="Stories" asp-action="Index">
                        К историям
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/comics.png" alt="Комиксы" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:white; text-shadow: black 0 0 5px;">
                    Просматривайте и создавайте комиксы
                    <a class="btn btn-default" asp-controller="Comics" asp-action="Index">
                        К комиксам
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/panels.png" alt="Картинки" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color: black;text-shadow:white -1px -1px 4px">
                    Совместно добавляйте картинки к комиксам
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br/>
<style type="text/css">
    td {
        padding: 0px 5px 0px 5px;
        text-shadow: black 0 0 0.5px;
    }
</style>
<div >
    <table>
        <tr>
            <td>Зарегистрировано пользователей:</td>
            <td>@ViewData["usersCount"]</td>
        </tr>
        <tr>
            <td>Добавлено историй:</td>
            <td>@ViewData["storiesCount"]</td>
        </tr>
        <tr>
            <td>Создано комиксов:</td>
            <td>@ViewData["comicsCount"]</td>
        </tr>
        <tr>
            <td>Добавлено картинок:</td>
            <td>@ViewData["panelsCount"]</td>
        </tr>
    </table>
</div>

