﻿@model CollaborativeComics.Models.Story

@{
    ViewData["Title"] = "История";
}

<h2>Просмотр</h2>

<div>
    <h4>Истории</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <dl>
        <a asp-controller="Comics" asp-action="Create" asp-route-id=@Model.Id>Создать комикс</a>
    </dl>
    <dl>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Комиксы
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Comics)
                {
                    <tr>
                        <td>
                            <a asp-controller="Comics" asp-action="Details" asp-route-id=@item.Id >@item.Name</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку историй</a>
</div>
