﻿@model CollaborativeComics.Models.Comics

@{
    ViewData["Title"] = "Details";
}

<h2>Сведения о комиксе</h2>

<div>
       <hr />
    <dl class="dl-horizontal">
        <dt>
           Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <img src=@Model.CoverURI width="100" />
        </dt>
        <dd>
            @if (Model.Story != null)
            {
                <a asp-controller="Stories" asp-action="Details" asp-route-id=@Model.Story?.Id>История</a>
            }
        </dd>
    </dl>
</div>
<a asp-controller="Panels" asp-action="Create" asp-route-id=@Model.Id>Создать картинку</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Картинка
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Panels ?? new List<Panel>())
        {
            <tr>
                <td>
                    <img src=@item.ImageURI height="100" alt=@item.Description/>
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Panels" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-controller="Panels" asp-route-id="@item.Id">Посмотреть</a> |
                    <a asp-action="Delete" asp-controller="Panels" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку комиксов</a>
</div>
