﻿@model IEnumerable<CollaborativeComics.Models.Comics>

@{
    ViewData["Title"] = "Index";
}

<h2>Комиксы</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    Название
                </th>
                <th>
                    Обложка
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src=@item.CoverURI height="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Посмотреть</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
